@model IEnumerable<AdvertMVC.ResponsiblePerson>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Persons</h2>
    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            <div class="btn-group">
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                    <a class="btn btn-primary btn-xs" id="@item.ID" href="~/Person/Edit?ID=@item.ID">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </p>
            </div>
            <div class="btn-group">
                <p data-placement="top" data-toggle="tooltip" title="Details">
                    <a class="btn btn-info btn-xs" id="@item.ID" href="~/Person/Details?ID=@item.ID">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </p>
            </div>
            <div class="btn-group">
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                    <a class="btn btn-danger btn-xs" id="@item.ID" href="~/Person/Delete?ID=@item.ID">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div class="btn-group">
                <p data-placement="top" data-toggle="tooltip" title="Create New">
                    <a class="btn btn-success btn-md" href="~/Person/Create">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </td>
    </tr>
}
    
</table>
